$base: #212121;
$primary-color: #0071bc;
$primary-darker: #205493;
$primary-darkest: #112e51;
$white: #fff;

$primary-alt: #02bfe7; 
$primary-alt-darkest: #046b99;
$primary-alt-dark: #00a6d2;
$primary-alt-light: #9bdaf1;
$primary-alt-lightest: #e1f3f8;

$secondary: #e31c3d;
$secondary-darkest: #981b1e;
$secondary-dark: #cd2026;
$secondary-light: #e59393;
$secondary-lightest: #f9dede;

$gray-dark: #323a45;
$gray: #5b616b;
$gray-light: #aeb0b5;
$gray-lighter: #d6d7d9;
$gray-lightest: #f1f1f1;
$gray-cool-light: #dce4ef;
$gray-warm-dark: #494440;
$gray-warm-light: #e4e2e0; 



$bg: $white;
$messageBg: $gray-lighter;
//$messageBg: $gray-light;
$replyMessageBg: $primary-color;
$border-color: $gray-lighter;
$sidebar-color: $gray-lightest;
$error-color: $secondary-dark;



body {
    font-family: 'Source Sans Pro', sans-serif; 
    background-color: $bg;
    color: $base;
}

// h1,h2,h3,h4,h5,h6 {
//     font-family: 'Merriweather', serif;
// }

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Source Sans Pro', sans-serif; 
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.button-secondary {
    background-color: $primary-alt;
    color: $gray-lightest;
}

.left-section {
     margin: 1em;
    padding: 1em;
    text-align: center;
   
}

.left-section-title {
    font-weight: 400;
    margin: 0;
    padding-bottom: 0.5em;
    margin-bottom: 0.8em;
    color: $gray-dark;
}

.progress {
    background-color: $white;
    box-shadow: 0 10px 6px -6px $gray-warm-light;
}

.progress-items {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
}   

.progress-items li {
    display: block;
    padding: 0.5em;
    padding-left: 2em;
    color: $gray-light; 
}

li.progress-complete {
    color: $primary-alt;
}

li.progress-complete:before {
    margin-right: 0.5em;
    content:"\2713\0020";
}

li.progress-inprogress {
    color: $gray;
}

.progress-complete, .progress-inprogress {
    font-weight: 700;
}

.pure-button {
    margin-left: 5px;
}

.answerWrapper.address {
    text-align: left;
}

.address-row {
    margin-bottom: 0.5em;
}
            
.sidebar, .help {         
    background-color: $sidebar-color;
    min-height: 100vh;
    border-right: 1px solid $border-color;
}

.help {
    background-color: $gray-cool-light;
    border: none;
    border-left: 1px solid $border-color;
}

.help-section {
    margin: 1em;
    margin-left: 1.5em;
    padding: 1em;
    text-align: center;
    // background-color: $white;
    
}

.disclosure {
    height: 500px;
    overflow: auto;
    margin-bottom: 1.5em;
}

.disclosure-start {
    
}

.assist-section {
    color: $gray-warm-dark;
}

.icon-left, .app-icon, .save-icon, .assist-icon {
 margin-right: 0.5em;   
}

.help-info-icon {
 color: $gray;
 margin-bottom: 1em;   
}

.help-section-title {
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.5em;
    color: $secondary-dark;
    // color: $gray-cool-light;
    // background-color: $gray;
    // padding: 0.2em;
    // border-radius: 0.2em;
    
}

.help-text-list {
    text-align: left;
    font-size: 0.9em;
    padding: 0;
}

.help-text-list li {
    margin-bottom: 0.5em;
}



.help-text {
    color: $gray;
    font-size: 1.1em;
}

.sidebar-title {
    margin: 0;
    margin-bottom: 2em;
    font-weight: 400;
    border: none;
    padding: 1em;
    color: $white;
    background-color: $primary-color;
}

.answerWrapper {
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: $gray-lightest;
    padding: 1.2em;
    min-width: 200px;
    box-shadow:  0 0 15px 1px $gray-light;
    text-align: center;
}

.answer-header {
    margin: 0;
    margin-bottom: 0.8em;
    text-align: left;
    color: $gray;
    font-weight: 400;
}

.answer-child-income {
    margin-bottom: 0.5em;
}

.answer-child-income-done {
    text-align: left;
    margin-left: 1em; 
}

.answer-adult-income {
    margin-bottom: 0.5em;
}

.answer-adult-income-done {
    text-align: left;
}

.multiAnswerRow {
    margin-bottom: 0.5em;
}

.error-message {
    text-align: left;
    margin-top: 1em;
    color: $white;
    padding: 0.4em;
    background-color: $error-color;
    border-radius: 0.2em;
    text-align: center;
}

.answerYN button {
    width: 5em;
    
}

.hotkey {
    font-size: 0.8em;
    color: $gray;
    margin-left: 0.8em;
}

.btn-multi-item {
    background-color: $white;
}

.btn-multi-item:hover, .btn-multi-item-checked {
    background-color: $primary-alt-dark;
    color: $white;
}

.icon-right {
    margin-left: 0.5em;
}

.answerWrapper input, .answer select {
    margin-left: 5px;
}

.content {
    padding: 2em;
    padding-top: 0;
}

.section-header {
    font-family: 'Source Sans Pro', sans-serif;
    color: $primary-color;
    font-weight: 300;
    border-bottom: 1px solid $border-color;
    
}

.messages {
    height: 300px;
    overflow:auto;
}

.message {
    margin-bottom: 0.5em;
}

.message-bubble {
    display: inline-block;
    background-color: $messageBg;
    padding: 0.8em 1em;
    max-width: 30em;
    border-radius: 0.8em;
}

.reply {
    text-align: center;
    color: $white;
    background-color: $replyMessageBg;
}

.message-p {
    margin: 0;
    margin-bottom: 0.5em;
}

.message-bubble .message-p:last-child {
    margin: 0;
}

.container input {
  position: absolute;
  left: -9999px;
}

.container label {
  display: inline-block;
  position: relative;
  margin: 20px;
  padding: 15px 30px 15px 62px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

.container label::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 32px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}

.container label:hover, .container input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.container input:checked + label {
  background-color: #ab576c;
}

.container input:checked + label::before {
  background-color: #fff;
}